
<div id="alerts" class="alert alert-warning mt-2 d-none" role="alert" data-nosnippet>
    <h5>Known Issues:</h5>
    <ul>
        <li>
            Saving Options on the Options Page does not work prior to 0.6.1.
            <br>
            <strong>Work Around:</strong> Set your options in the Popup.
        </li>
    </ul>
    <ul>
        <li>
            Opening Links from the Parse Links Option in the Popup does not work prior to 0.6.1.
            <br>
            <strong>Work Around:</strong> Use Open Lines or Parse URLs then Open from Links Results.
        </li>
    </ul>
    {% comment %}<p class="mb-0 small">{% endcomment %}
        {% comment %}Chrome Web Store Publishing can take several days (and sometimes weeks) to complete.{% endcomment %}
        {% comment %}These issues have already been fixed; however, are still awaiting approval from Google.{% endcomment %}
    {% comment %}</p>{% endcomment %}
</div>
