#pin-notice {
    position: fixed;
    right: 15px;
    top: 0;
    cursor: pointer;
    user-select: none;
    text-shadow:
        0 0 2px var(--bs-body-bg),
        0 0 4px var(--bs-body-bg),
        0 0 6px var(--bs-body-bg),
        0 0 8px var(--bs-body-bg);
}

.bounce {
    animation: bounce 4s infinite;
}

@keyframes bounce {
    0% {
        top: 15px;
    }
    50% {
        top: 40px;
    }
    100% {
        top: 15px;
    }
}
